* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
main {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  .f-end-main-div {
    height: calc(100vh - 50px);
    width: 100vw;
    background-image: url("/assets/images/background-image.png");
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    padding-bottom: 50px;
    gap: 55px;
  }
  .main-div {
    height: calc(100% - 70px);
    width: 100%;
    background-image: url("/assets/images/background-image.png");
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    align-items: center;
    justify-content: center;

    .info-div {
      height: 250px;
      width: 500px;
      background: none;
      display: block;
      background-color: none;
      color: white;
      margin-left: 25px;

      .cv-wrapper {
        position: relative;
        display: flex;
        align-items: center;
        height: 50px;
        margin-top: 25px;
        width: fit-content;
      }

      .cv-highlight {
        height: 50px;
        width: 50px;
        background-color: #6488ea;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        cursor: pointer;
        z-index: 2;
        border-radius: 4px;
      }

      .cv-container {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        position: absolute;
        left: 50px;
        top: 0;
        height: 50px;
        width: 225px;
        background-color: #6488ea;
        align-items: center;
        padding: 0 10px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        opacity: 0;
        visibility: hidden;
        transform: translateX(-20px);
        transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
        gap: 5px;

        .cv-btn {
          height: 30px;
          border-radius: 7px;
          border: none;
        }
      }

      .cv-container.open {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
      }
    }

    .bitmoji-container {
      height: 500px;
      width: 450px;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      margin-left: 250px;
      margin-top: 400px;
    }

    .place-for-info {
      height: 250px;
      width: 750px;
      background-color: white;
      margin-left: 25px;
      background-color: transparent;
      color: white;
      font-size: 20px;
      margin-top: -500px;
    }

    .description-text-f-end {
      max-width: 700px;
      line-height: 1.6;
      padding: 0 20px;
    }

    .f-end-info {
      height: 250px;
      width: 750px;
      background-color: white;
      margin-left: 25px;
      background-color: transparent;
      color: white;
      font-size: 20px;
    }

    .place-for-bitmoji {
      height: 250px;
      width: 250px;
      background-color: red;
      margin-left: 250px;
    }

    .click-indicator {
      top: -25px;
      left: 0px;
      color: white;
      position: absolute;
      z-index: 10;
    }

    .f-end-screanshots {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      cursor: pointer;
      transition: 0.3s all ease;
      position: relative;
      z-index: 1;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
