html,
body,
main {
  height: 100vh;
  width: 100vw;
}

main {
  .main-div {
    height: calc(100% - 70px);
    width: 100%;
    background-image: url("../assets/images/background-image.png");
    background-size: cover;
    background-position: center;

    .info-div {
      height: 250px;
      width: 500px;
      background: none;
      display: block;
      margin-top: 250px;
      color: white;
      margin-left: 25px;
    }
  }
}
