.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #222;
  padding: 2rem;
  border-radius: 12px;
  color: white;
}

.modal-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;

  .media-item {
    transition: 0.25s all ease;

    &:hover {
      scale: 1.15;
      transition: 0.5s all ease;
    }
  }
}

.place-for-nav-modal {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .close-btn {
    height: 25px;
    width: 30px;
    background-color: red;
    color: white;
    cursor: pointer;
    transition: transform 0.3s ease;

    &:hover {
      transform: rotate(180deg);
      color: black;
    }
  }
}
