.navbar {
  height: 70px;
  width: 100%;
  display: flex;
  background-color: rgb(1, 3, 5);
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding-top: 15px;

  .portfolio-btn {
    border: none;
    color: white;
    background-color: transparent;
    font-size: 25px;
    margin-top: 15px;
    background: linear-gradient(currentColor, currentColor) no-repeat;
    background-size: 0% 2px;
    background-position: 0 100%;
    transition: background-size 0.3s ease;

    &:hover {
      background-size: 100% 2px;
      cursor: pointer;
    }
  }

  .nav-btn {
    height: 30px;
    font-size: 25px;
    width: auto;
    border-radius: 5px;
    border: 0.5px solid white;
    background-color: transparent;
    color: white;
    transition: 0.3s all ease;

    &:hover {
      box-shadow: 0 0 20px rgb(5, 230, 228);
    }
  }
}
